#field td {
	width: 200px;
	height: 200px;
	border: 5px solid black;
	text-align: center;
	font-weight: bold;
	font-size: 150px;
	color: blue;
}

.link-container {
	margin: 25px 30px 0;
}

.link {
	text-decoration: none;
	color: red;
	font-size: 30px;
	opacity: 1;
}

.link:hover {
	opacity: 0.4;
}